{{define "Content"}}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 text-gray-900">Firewall Decision</h6>
            <p>
                Test the xdp firewall decision for a given user with traffic, this tool will run a test packet through
                the program and get allow or drop.
            </p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form class="form" action="/diag/check" method="POST">
                    {{ csrfToken }}

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="username">Device</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{.Address}}"
                                placeholder="IP address">
                        </div>
                        <div class="form-group col">
                            <label for="target">Target</label>
                            <input type="text" class="form-control" id="target" name="target" value="{{.Target}}"
                                placeholder="Target address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="port">Port</label>
                            <input type="number" class="form-control" id="port" name="port" value="{{.Port}}">
                        </div>
                        <div class="form-group col-md">
                            <label for="protocol">Protocol</label>
                            <select class="custom-select" name="protocol">
                                {{range .Protocols}}
                                <option {{if .Selected}}selected{{end}} value="{{.Val}}">{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Test</button>
                </form>
            </div>
        </div>
        <div class="row mt-4 ml-2">
            <div class="col">
                <pre>{{.Decision}}</pre>
            </div>
        </div>
    </div>
</div>


{{end}}