{{define "Content"}}


<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 text-gray-900">Wireguard Peers</h6>
            <div class="d-sm-flex justify-content-between">
                <p>
                    Wireguard devices (similiar to wg)
                </p>
            </div>
    </div>
    <div class="card-body">
        <table id="wgDevicesTable" data-search="true" data-show-refresh="true" data-show-columns="true"
            data-show-columns-toggle-all="true" data-minimum-count-columns="2" data-show-pagination-switch="true"
            data-pagination="true" data-id-field="username" data-page-list="[10, 25, 50, 100, all]"
            data-side-pagination="client" data-url="/diag/wg/data">
        </table>
    </div>
</div>

<script src="/vendor/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="/vendor/bootstrap-table/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/default_table.js"></script>
<script src="/js/wg_devices.js"></script>

{{end}}