<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>MFA Details</title>
  <meta name="description" content="MFA Registration">
  <meta name="author" content="https://github.com/softScheck">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <!--Specific PAM functions
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/static/js/pam.js"></script>

  <!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="registration">

    <div class="row">
      <div class="one-half column offset-by-three">
        <h4 class="center">Register Account: <span id="AccountName"></span></h4>
      </div>
    </div>

    <div class="row" hidden="true" id="error">
      <div class="small-space column offset-by-three">
        <p class="alert alert-error" id="errorMsg">A server error has occurred, please contact: {{.HelpMail}}</p>
      </div>
    </div>

    <form id="loginForm" autocomplete="off">
      <div class="row">

        <div class="small-space one-half column offset-by-three">
          <input name="password" class="u-full-width" type="password" placeholder="Account Password" id="mfaPassword"
            autofocus>
        </div>

        <div class="one-half column offset-by-three">
          <input class="button-primary u-pull-right" type="submit" value="Submit">
        </div>
      </div>
    </form>

    {{if gt .NumMethods 1}}
    <div class="row">
      <div class="column one-half offset-by-three small-space center">
        <a href="/register_mfa/?method=select">Use another two-step login method</a>
      </div>
    </div>
    {{end}}

  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>