{{define "Content"}}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 text-gray-900">Check ACLs</h6>
            <p>
                Here you can test the wag acl composition engine, submit a username and see what real acls are applied.
            </p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <form class="form-inline" action="/diag/acls" method="POST">
                    {{ csrfToken }}
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{.Username}}"
                            placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Check</button>
                </form>
            </div>
        </div>
        <div class="row mt-4 ml-2">
            <div class="col">
                <pre>{{.AclString}}</pre>
            </div>
        </div>
    </div>
</div>


{{end}}