{{define "Content"}}
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card shadow-md mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
            </div>
            <div class="card-body">
                <form method="POST" action="/change_password/">
                    <div class="form-group">
                        <label for="previousPassword">Current Password</label>
                        <input type="password" class="form-control" id="previousPassword">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword">
                    </div>

                    <div class="form-group">
                        <label for="newPasswordRepeat">New Password (again)</label>
                        <input type="password" class="form-control" id="newPassword">
                    </div>

                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}