<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wag management login">
    <meta name="author" content="NHAS">

    <title>Wag Management Login</title>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="text-center" id="loginBody">

    <form class="form-signin" action="/login" method="POST" autocomplete="off">

        <img class="mb-4" src="/img/WagLogo.png" alt="" width="122" height="122">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>

        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus name="username">
        <label for="password" class="sr-only">Password</label>

        <input type="password" id="password" class="form-control" placeholder="Password" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        {{if .SSO}}
        <a class="btn btn-lg btn-success btn-block" href="/login/oidc">Sign in with SSO</button>
        {{end}}

        {{if .ErrorMessage}}
        <div class="alert alert-danger mt-2" role="alert">
            {{.ErrorMessage}}
        </div>
        {{end}}
    </form>




    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    {{staticContent "sb-admin-2"}}


</body>

</html>