{{- if .ClientPrivateKey -}}
[Interface]
PrivateKey = {{.ClientPrivateKey | Unescape}}
{{- end -}}
{{- if .DNS}}
DNS = {{StringsJoin .DNS ", "}}
{{- end}}
Address = {{.ClientAddress}}

[Peer]
Endpoint =  {{.ServerAddress}}
{{- if .ClientPresharedKey }}
PresharedKey = {{.ClientPresharedKey | Unescape}}
{{- end}}
PublicKey = {{.ServerPublicKey | Unescape}}
AllowedIPs = {{StringsJoin .CapturedAddresses ", "}}
PersistentKeepAlive = 10
