{{define "Content"}}
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card shadow-md mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
            </div>
            <div class="card-body">
                <form method="POST" action="/change_password">
                    {{ csrfToken }}
                    <div class="form-group">
                        <label for="current_password">Current Password</label>
                        <input type="password" class="form-control" id="current_password" name="current_password">
                    </div>
                    <div class="form-group">
                        <label for="password1">New Password</label>
                        <input type="password" class="form-control" id="password1" name="password1">
                    </div>

                    <div class="form-group">
                        <label for="password2">New Password (again)</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>

                    <button type="submit" class="btn btn-primary">Apply</button>

                    {{if .Message}}
                    <div class="alert {{if eq .Type 1}}alert-danger{{else}}alert-success{{end}} mt-2" role="alert">
                        {{.Message}}
                    </div>
                    {{end}}

                </form>
            </div>
        </div>
    </div>
</div>
{{end}}