{{define "Content"}}


<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 text-gray-900">Cluster</h1>
        <div class="d-sm-flex justify-content-between">
            <p>
                Wag ETCd cluster nodes
            </p>
        </div>
    </div>
</div>

<script src="/vendor/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="/vendor/bootstrap-table/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/default_table.min.js"></script>
<script src="/js/clustering.min.js"></script>

{{end}}