{{define "Content"}}

<div class="align-items-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
</div>


<div class="row">
    <div class="col-lg-6">

        <div class="card shadow-md mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">General</h6>
            </div>
            <div class="card-body">
                <form id="generalSettings">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputHelpMail">Help Mail</label>
                            <input type="email" class="form-control" name="inputHelpMail" id="inputHelpMail"
                                value="{{.HelpMail}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputWgAddress">External Wireguard Address</label>
                            <input type="text" class="form-control" name="inputWgAddress" id="inputWgAddress"
                                value="{{.ExternalAddress}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputConf">Wireguard Config Filename</label>
                            <input type="email" class="form-control" name="inputConfFileName" id="inputConf"
                                value="wg0.conf">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputVPNDomain">VPN Domain</label>
                            <input type="text" class="form-control" name="inputVPNDomain" id="inputVPNDomain"
                                value="http://vpn.test">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dns">DNS</label>
                        <textarea class="form-control" id="dns" name="dns" rows="3">{{.DNS}}</textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkForUpdates" value="true"
                                    id="checkUpdates">
                                <label class="form-check-label" for="checkUpdates">
                                    Check for Updates
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="generalSettingsIssue" role="alert" style="display:none"></div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>



    </div>
    <div class="col-lg-6">
        <div class="card shadow-md mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-inline">Login</h6>
            </div>
            <div class="card-body">
                <form id="loginSettings">
                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="inputSessionLife">Session Life Time (Minutes)</label>
                            <input type="number" class="form-control" id="inputSessionLife" name="inputSessionLife"
                                value="{{.SessionLifeTimeMinutes}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputInactivity">Inactivity Timeout (Minutes)</label>
                            <input type="number" class="form-control" id="inputInactivity" name="inputInactivity"
                                value="{{.InactivityTimeoutMinutes}}">
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="numAttempts">Max Authentication Attempts</label>
                        <input type="number" class="form-control" id="numAttempts" name="numAttempts"
                            value="{{.Lockout}}">
                    </div>

                    <!-- Add MFA Fields -->
                    <div class="form-group mb-3">
                        <label for="defaultMFA">Default MFA Method</label>
                        <select class="form-control" id="defaultMFA" name="defaultMFA">
                            <option value="sms">SMS</option>
                            <option value="email">Email</option>
                            <option value="app">Authenticator App</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label>Enabled MFA Methods</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="sms" id="enableSMS"
                                name="enabledMethods[]">
                            <label class="form-check-label" for="enableSMS">TOTP</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="email" id="enableEmail"
                                name="enabledMethods[]">
                            <label class="form-check-label" for="enableEmail">Webauthn</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="app" id="enableApp"
                                name="enabledMethods[]">
                            <label class="form-check-label" for="enableApp">OIDC</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="app" id="enableApp"
                                name="enabledMethods[]">
                            <label class="form-check-label" for="enableApp">PAM</label>
                        </div>
                    </div>

                    <!-- OIDC Settings -->
                    <div class="form-group mb-3">
                        <label for="oidcIssuerURL">OIDC Issuer URL</label>
                        <input type="text" class="form-control" id="oidcIssuerURL" name="oidcIssuerURL" value="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcClientSecret">OIDC Client Secret</label>
                        <input type="password" class="form-control" id="oidcClientSecret" name="oidcClientSecret"
                            value="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcClientID">OIDC Client ID</label>
                        <input type="text" class="form-control" id="oidcClientID" name="oidcClientID" value="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcGroupsClaimName">OIDC Groups Claim Name</label>
                        <input type="text" class="form-control" id="oidcGroupsClaimName" name="oidcGroupsClaimName"
                            value="">
                    </div>

                    <!-- PAM Settings -->
                    <div class="form-group">
                        <label for="pamServiceName">PAM Service Name</label>
                        <input type="text" class="form-control" id="pamServiceName" name="pamServiceName" value="">
                    </div>

                    <div id="loginSettingsIssue" role="alert" style="display:none"></div>

                    <button type="submit" class="btn btn-primary">Save</button>

                </form>
            </div>
        </div>
    </div>



</div>

<script src="/js/settings.min.js"></script>


{{end}}