{{define "Content"}}

<div class="align-items-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
</div>


<div class="row">
    <div class="col-lg-6">

        <div class="card shadow-md mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">General</h6>
            </div>
            <div class="card-body">
                <form id="generalSettings">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputHelpMail">Help Mail</label>
                            <input type="email" class="form-control" name="inputHelpMail" id="inputHelpMail"
                                value="{{.Settings.HelpMail}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputWgAddress">External Wireguard Address</label>
                            <input type="text" class="form-control" name="inputWgAddress" id="inputWgAddress"
                                value="{{.Settings.ExternalAddress}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputConfFileName">Wireguard Config Filename</label>
                            <input type="text" class="form-control" name="inputConfFileName" id="inputConfFileName"
                                value="{{.Settings.WireguardConfigFilename}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dns">DNS</label>
                        <textarea class="form-control" id="dns" name="dns" rows="3">{{range .Settings.DNS}}{{.}}
                            {{end}}</textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkForUpdates" value="true"
                                    id="checkUpdates" {{if .Settings.CheckUpdates}}checked{{end}}>
                                <label class="form-check-label" for="checkUpdates">
                                    Check for Updates
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="generalSettingsIssue" role="alert" style="display:none"></div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>



    </div>
    <div class="col-lg-6">
        <div class="card shadow-md mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary d-inline">Login</h6>
            </div>
            <div class="card-body">
                <form id="loginSettings">
                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="inputSessionLife">Session Life Time (Minutes)</label>
                            <input type="number" class="form-control" id="inputSessionLife" name="inputSessionLife"
                                value="{{.Settings.MaxSessionLifetimeMinutes}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputInactivity">Inactivity Timeout (Minutes)</label>
                            <input type="number" class="form-control" id="inputInactivity" name="inputInactivity"
                                value="{{.Settings.SessionInactivityTimeoutMinutes}}">
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="numAttempts">Max Authentication Attempts</label>
                        <input type="number" class="form-control" id="numAttempts" name="numAttempts"
                            value="{{.Settings.Lockout}}">
                    </div>

                    <!-- Add MFA Fields -->
                    <div class="form-group mb-3">
                        <label for="defaultMFA">Default MFA Method</label>
                        <select class="form-control" id="defaultMFA" name="defaultMFA">
                            {{range .Settings.EnabledMFAMethods}}
                            <option value="{{.}}" {{if eq . $.Settings.DefaultMFAMethod}}selected{{end}}>{{.}}</option>
                            {{end}}
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label>Enabled MFA Methods</label>
                        <div class="form-row mb-3">
                            {{range $index, $method := .MFAMethods}}
                            <div class="col-md">
                                <div class="form-check">
                                    <input class="form-check-input mfaselection" type="checkbox"
                                        value="{{$method.Type}}" name="{{$method.Type}}" {{if
                                        $method.IsEnabled}}checked{{end}}>
                                    <label class="form-check-label" for="{{$method.Type}}">{{$method.Type}}</label>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="inputVPNDomain">VPN IP/Domain</label>
                        <input type="text" class="form-control" name="inputVPNDomain" id="inputVPNDomain"
                            value="{{.Settings.Domain}}">
                    </div>


                    <!-- Webauthn/TOTP Settings -->
                    <div class="form-group mb-3">
                        <label for="issuer">Issuer</label>
                        <input type="text" class="form-control" id="issuer" name="issuer" value="{{.Settings.Issuer}}">
                    </div>


                    <!-- OIDC Settings -->
                    <div class="form-group mb-3">
                        <label for="oidcIssuerURL">OIDC Identity Provider</label>
                        <input type="text" class="form-control" id="oidcIssuerURL" name="oidcIssuerURL"
                            value="{{.Settings.OidcDetails.IssuerURL}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcClientSecret">OIDC Client Secret</label>
                        <input type="password" class="form-control" id="oidcClientSecret" name="oidcClientSecret"
                            value="{{.Settings.OidcDetails.ClientSecret}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcClientID">OIDC Client ID</label>
                        <input type="text" class="form-control" id="oidcClientID" name="oidcClientID"
                            value="{{.Settings.OidcDetails.ClientID}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcGroupsClaimName">OIDC Groups Claim Name</label>
                        <input type="text" class="form-control" id="oidcGroupsClaimName" name="oidcGroupsClaimName"
                            value="{{.Settings.OidcDetails.GroupsClaimName}}" placeholder="(optional)">
                    </div>
                    <div class="form-group mb-3">
                        <label for="oidcDeviceUsernameClaim">OIDC Device Username Claim</label>
                        <input type="text" class="form-control" id="oidcDeviceUsernameClaim"
                            name="oidcDeviceUsernameClaim" value="{{.Settings.OidcDetails.DeviceUsernameClaim}}"
                            placeholder="(optional)">
                    </div>

                    <!-- PAM Settings -->
                    <div class="form-group">
                        <label for="pamServiceName">PAM Service Name</label>
                        <input type="text" class="form-control" id="pamServiceName" name="pamServiceName"
                            value="{{.Settings.PamDetails.ServiceName}}">
                    </div>

                    <div id="loginSettingsIssue" role="alert" style="display:none"></div>

                    <button type="submit" class="btn btn-primary">Save</button>

                </form>
            </div>
        </div>
    </div>



</div>

{{staticContent "settings"}}

{{end}}