{{define "Content"}}


<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3 justify-content-between">

        <h1 class="m-0 text-gray-900">Admin Users</h1>
        <p>View admin user details. To add, lock, or delete a new user use the command line 'wag webadmin'
            subcommand.
        </p>
    </div>

    <div class="card-body">
        <table id="managementUsersTable" data-toolbar="#toolbar" data-search="true" data-show-refresh="true"
            data-show-columns="true" data-show-pagination-switch="true" data-pagination="true" data-id-field="username"
            data-page-list="[10, 25, 50, 100, all]" data-side-pagination="client"
            data-url="/settings/management_users/data">
        </table>
    </div>
</div>


<script src="/vendor/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="/vendor/bootstrap-table/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/default_table.min.js"></script>
<script src="/js/management_users.min.js"></script>

{{end}}