{{define "Content"}}


<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3 justify-content-between">
        <h1 class="m-0 text-gray-900">Registration</h1>
        <p>
            Create or delete new registration tokens
        </p>
    </div>
    <div class="card-body">

        <div id="toolbar">
            <button id="new" class="btn btn-primary" data-toggle='modal' data-target='#tokensModal'>
                <i class="icon-plus"></i> New
            </button>
            <button id="removeStart" class="btn btn-danger" disabled data-toggle='modal' data-target='#deleteModal'>
                <i class="icon-trash"></i> Delete
            </button>
            <button id="clearFilter" class="btn btn-secondary" style="display:none">
                <i class="icon-eye"></i> Clear Filter
            </button>
        </div>
        <table id="tokensTable" data-toolbar="#toolbar" data-search="true" data-show-refresh="true"
            data-show-columns="true" data-show-columns-toggle-all="true" data-minimum-count-columns="2"
            data-show-pagination-switch="true" data-pagination="true" data-id-field="token"
            data-page-list="[10, 25, 50, 100, all]" data-side-pagination="client"
            data-url="/management/registration_tokens/data" data-response-handler="responseHandler">
        </table>
    </div>
</div>

<!-- New Registration token Modal-->
<div class="modal fade" id="tokensModal" tabindex="-1" role="dialog" aria-labelledby="tokensModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tokensModalLabel">New Registration Token</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newTokenForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="recipient-name" name="recipient-name">
                    </div>

                    <div class="form-group">
                        <label for="token" class="col-form-label">Token</label>
                        <input type="text" class="form-control" id="token" name="token" placeholder="(Optional)">
                    </div>

                    <div class="form-group">
                        <label for="overwrite" class="col-form-label">Overwrite (Device Address)</label>
                        <input type="text" class="form-control" id="overwrite" name="overwrite"
                            placeholder="(Optional)">
                    </div>

                    <div class="form-group">
                        <label for="groups" class="col-form-label">Groups (comma delimited)</label>
                        <input type="text" class="form-control" id="groups" name="overwrite" placeholder="(Optional)">
                    </div>

                    <div id="formIssue" class="alert alert-danger" role="alert" style="display:none"></div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" id="createToken">Create</button>
            </div>
        </div>
    </div>
</div>

{{block "deleteConfirmationModal" .}}
{{end}}

<script src="/vendor/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="/vendor/bootstrap-table/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/default_table.min.js"></script>
<script src="/js/tokens.min.js"></script>

{{end}}