{{define "Content"}}


<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3 justify-content-between">
        <h1 class="m-0 text-gray-900">Registration</h6>
            <p>
                Create or delete new registration tokens
            </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered data" id="tokensTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Username</th>
                        <th>Groups</th>
                        <th>Overwrites Device</th>
                        <th>Select</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/vendor/datatables/dataTables.select.min.js"></script>
<script src="/vendor/datatables/dataTables.buttons.min.js"></script>
<script src="/js/default_table.js"></script>
<script src="/js/tokens.js"></script>

{{end}}