{{define "Content"}}


<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 text-gray-900">Users</h6>
            <div class="d-sm-flex justify-content-between">
                <p>
                    Manage Wag VPN user accounts
                </p>
                <div>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-plus fa-sm text-white-50 mr-2"></i>New Registration Token</a>
                </div>
            </div>
    </div>
    <div class="card-body">
        <div id="issue" class="alert alert-danger" role="alert" style="display:none"></div>

        <div id="toolbar">
            <button id="lock" class="btn btn-primary" disabled>
                <i class="fa fa-lock"></i> Lock
            </button>
            <button id="unlock" class="btn btn-primary" disabled>
                <i class="fa fa-unlock"></i> Unlock
            </button>
            <button id="remove" class="btn btn-danger" disabled>
                <i class="fa fa-trash"></i> Delete
            </button>
        </div>
        <table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-columns="true"
            data-show-columns-toggle-all="true" data-minimum-count-columns="2" data-show-pagination-switch="true"
            data-pagination="true" data-id-field="username" data-page-list="[10, 25, 50, 100, all]"
            data-side-pagination="client" data-url="/management/users/data" data-response-handler="responseHandler">
        </table>
    </div>
</div>


<script src="/vendor/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="/vendor/bootstrap-table/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/default_table.js"></script>
<script src="/js/users.js"></script>

{{end}}