{{define "Content"}}

<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="row">
    <div class="col{{if .Errors}}-8{{end}}">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h1 class="m-0 text-gray-900">Events</h1>
                <p class="mt-2">Cluster events, records the last 40 cluster events</p>
            </div>
            <div class="card-body">
                <code>
                    {{range $line := .EventLog}}
                        {{$line}}<br>
                    {{else}}
                        No Recent Events
                    {{end}}
                </code>
            </div>
        </div>
    </div>


    {{if .Errors}}
    <div class="col-sm">
        {{range .Errors}}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 text-gray-900">{{.NodeID}}</h5>
                <p>{{if .Time}}{{.Time.Format "02 Jan 06 15:04 MST"}}{{end}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Error:
                    </div>
                    <div class="col">
                        <code>{{.Error}}</code>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Event Data:
                    </div>
                    <div class="col">
                        <code>{{.FailedEventData}}</code>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm">
                        <button class="acknowledge btn btn-danger" errorid="{{.ErrorID}}">Acknowledge</button>
                    </div>
                </div>

            </div>
        </div>
        {{end}}
    </div>
    {{end}}
</div>


{{staticContent "events"}}

{{end}}