{{define "Content"}}

<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="row mb-3">
    <div class="col text-right">
        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#clusterAddModal">
            <i class="icon-plus"></i> Add cluster member
        </a>
    </div>
</div>
<div class="row">

    {{range $index, $val := .Members}}
    <div class="col fit-content">
        <div
            class='card border-left-{{if (eq .Status "healthy")}}success{{else if (eq .Status "dead")}}danger{{else}}warning{{end}} shadow mb-2'>
            <div class="card-body">

                <div class="card-title ">

                    <div class="row">
                        <div class="col-10">
                            <h5 class="font-weight-bold text-truncate">{{if
                                .Name}}{{.Name}}{{else}}Connecting...{{end}}{{if
                                eq .ID.String
                                ServerID}} (current node){{end}}</h5>
                        </div>
                        <div class="col text-right font-weight-bold ">{{if ne .ID.String ServerID}}<i
                                class="icon-trash" id="removeNode" role=button data-toggle='modal'
                                data-target='#deleteModal' node="{{.ID}}"></i>{{end}}</div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-4">
                        ID:
                    </div>
                    <div class="col text-left">
                        {{.ID}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-4">
                        Version:
                    </div>
                    <div class="col text-left">
                        {{.Version}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-4">
                        Role:
                    </div>
                    <div class="col">
                        {{if eq .ID $.Leader}}Leader{{else if .IsLearner}}Learner{{else if .IsWitness}}Witness{{else}}Member{{end}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-4">
                        Status:
                    </div>
                    <div class="col">
                        {{.Status}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-4">
                        Last Ping:
                    </div>
                    <div class="col">
                        {{if .Ping}}{{.Ping}}{{else}}N/A{{end}}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        Address{{if gt (len .PeerURLs) 1}}es{{end}}:
                    </div>
                    <div class="col">
                        <p class="text-truncate">{{range .PeerURLs}}{{.}}{{end}}</p>
                    </div>
                </div>

                <node-control node="{{.ID.String}}" class="row mt-2">
                    <div class="col">
                        <div row="row">

                            {{if .IsLearner}}
                            <a class="btn btn-info" href="#" id="promote">
                                <i class="icon-arrow-up"></i> Promote
                            </a>
                            {{end}}

                            {{if eq .ID $.Leader}}
                            <a class="btn btn-info" href="#" id="stepdown">
                                <i class="icon-arrow-down"></i> Step Down
                            </a>
                            {{end}}

                            {{if not .IsWitness}}
                            <a class="btn btn-{{if .IsDrained}}warning{{else}}info{{end}}" href="#" id="drain"
                                action="{{if .IsDrained}}restore{{else}}drain{{end}}">
                                {{if .IsDrained}}<i class="icon-play3"></i> Restore{{else}}<i class="icon-pause2"></i>
                                Drain{{end}}
                            </a>
                            {{end}}
                        </div>
                    </div>
                </node-control>

            </div>
        </div>
    </div>

    {{if and (mod $index 3) (ne $index 0) }}
    <div class="w-100"></div>
    {{end}}

    {{end}}
</div>

<!-- Cluster add modal-->
<div class="modal fade" id="clusterAddModal" tabindex="-1" role="dialog" aria-labelledby="clusterAddModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clusterAddModalLabel">Add Node</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <add-node>
                    <div id="inputForm">

                        <div class="form-group">
                            <label for="nodeURL">Peer URL:</label>
                            <input type="url" class="form-control" id="nodeURL" name="nodeURL" required>
                        </div>

                        <div class="form-group">
                            <label for="newNodeName">Label:</label>
                            <input type="text" class="form-control" id="newNodeName" name="newNodeName"
                                placeholder="(Optional)">
                        </div>

                        <div class="form-group">
                            <label for="managerURL">Manager URL:</label>
                            <input type="url" class="form-control" id="managerURL" name="managerURL"
                                placeholder="(Optional)">
                        </div>

                        <div>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary float-right" type="submit" id="add">Add</button>
                        </div>
                    </div>
                    <div id="result" class="fade" hidden>
                        <h4 class="text-center">Token expires in <span id="countdown">30</span> seconds</h4>
                        <code id="joinToken">
                        </code>
                        <div class="text-center mt-2">
                            <span id="btn-copy-token" class="btn btn-sm btn-primary">Copy</span>
                        </div>
                    </div>
                </add-node>
            </div>
        </div>
    </div>
</div>

{{block "deleteConfirmationModal" .}}
{{end}}



{{staticContent "default_table"}}
{{staticContent "clustering"}}

{{end}}