{{- if .ClientPrivateKey }}
[Interface]
PrivateKey = {{.ClientPrivateKey}}
{{- end}}
{{- if .DNS}}
DNS = {{StringsJoin .DNS ", "}}
{{- end}}
Address = {{.ClientAddress}}

[Peer]
Endpoint =  {{.ServerAddress}}
PublicKey = {{.ServerPublicKey}}
AllowedIPs = {{StringsJoin .CapturedAddresses ", "}}
PersistentKeepAlive = 10
