{{define "Content"}}

<link href="/vendor/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">

<div class="row">
    <div class="col-sm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h1 class="m-0 text-gray-900">Events</h1>
                <div class="d-sm-flex justify-content-between">
                    <p>
                        Cluster events, records the last 40 cluster events
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {{range $line := .EventLog}}
                            <tr>
                                <td>{{$line}}</td>
                            </tr>
                            {{else}}
                            <tr>
                                <td>No Recent Events</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h1 class="m-0 text-gray-900">Errors</h1>
                <div class="d-sm-flex justify-content-between">
                    <p>
                        Errors reported by cluster members.
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {{range $line := .Errors}}
                            <tr>
                                <td>{{.NodeID}} {{.FailedEventData}} {{.Error}}</td>
                                <td> <button class="acknowledge btn btn-danger"
                                        errorid="{{.ErrorID}}">Acknowledge</button> </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td>No Errors</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{{staticContent "events"}}

{{end}}